In [107]:
import pandas as pd
import numpy as np

### Q1. Pandas version

In [2]:
pd.__version__

'1.1.3'

### Getting the data

In [5]:
url=  "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv"
df = pd.read_csv(url)
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

### Q2. Records count

In [11]:
# Calculating the number of records in the dataset
num_records = len(df)
print(f"The number of records in the laptops dataset is {num_records}")

The number of records in the laptops dataset is 2160

### Q3. Laptop brands

In [22]:
unique_brands = df['Brand'].unique()
num_unique_brands = len(unique_brands)
print(f"The number of unique brands is {num_unique_brands}")

The number of unique brands is 27

### Q4. Missing values

In [38]:
# Finding how many columns in the dataset have missing values

num_of_columns_with_null_values = df.isnull().any().sum()
print(f"The number of columns with null values is {num_of_columns_with_null_values}")

The number of columns with null values is 3

### Q5. Maximum final price

In [42]:
max_dell_price = df[df['Brand'] == 'Dell']['Final Price'].max()
print(f"The maximum price of the Dell notebooks is {max_dell_price}")

The maximum price of the Dell notebooks is 3936.0

### Q6. Median value of Screen

In [78]:
median_screen_size = df['Screen'].median()
print(f"The median screen size is {median_screen_size}")

The median screen size is 15.6

In [79]:
most_frequent_screen_size = df['Screen'].mode().values[0]
print(f"The most frequent screen size is {most_frequent_screen_size}")

The most frequent screen size is 15.6

In [87]:
df['Screen'].fillna((median_screen_size), inplace=True)

In [89]:
# Check that there are no more rows where the screen size is null
df[df['Screen'].isna()]

Empty DataFrame
Columns: [Laptop, Status, Brand, Model, CPU, RAM, Storage, Storage type, GPU, Screen, Touch, Final Price]
Index: []

In [92]:
# Recaluclate the median screen size
new_most_frequent_screen_size = df['Screen'].mode().values[0]
print(f"The new most frequent screen size is {new_most_frequent_screen_size}")

The new most frequent screen size is 15.6

### Q7. Sum of weights

In [93]:
# 1. Select all the "Innjoo" laptops from the dataset.
df[df['Brand'] == 'Innjoo']

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [99]:
# 2. Select only columns RAM, Storage, Screen
selected_columns = df[['RAM', 'Storage', 'Screen']]

In [112]:
# 3. Get the underlying NumPy array and call it X.
X = selected_columns.values

In [125]:
# 4. Computing the matrix-matrix multiplication between the transpose of X and X and calling the result XTX.
XTX = np.dot(X.T, X)

In [111]:
# 5. Computing the inverse of XTX.

XTX_inverse = np.linalg.inv(XTX)

In [114]:
# 6. Creating an array y with values [1100, 1300, 800, 900, 1000, 1100].
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1300])

In [130]:
# 7. Multiplying the inverse of XTX with the transpose of X, and then multiplying the result by y. Calling the result w.
w = XTX_inverse @ X.T  @ y

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 7 is different from 2160)

In [129]:
w

array([[-6.43306877e-05, -7.84687575e-06, -7.84687575e-06, ...,
         8.75119901e-05, -7.85289091e-05,  8.56271695e-05],
       [ 8.67209670e-07, -1.26237353e-06, -1.26237353e-06, ...,
        -5.45913311e-07,  3.39103434e-06, -2.79806684e-06],
       [ 6.28198388e-05,  8.95166611e-05,  8.95166611e-05, ...,
        -3.36652200e-05, -2.74534490e-05,  5.01341909e-05]])

In [131]:
print(f"Shape of X.T: {X.T.shape}")
print(f"Shape of y: {y.shape}")
print(f"Shape of XTX_inverse: {XTX_inverse.shape}")

Shape of X.T: (3, 2160)
Shape of y: (7,)
Shape of XTX_inverse: (3, 3)